.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
}

.dash-btn-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
}

.dash-btn-container button {
  width: 150px;
}

.form-styled {
  display: flex;
  flex-direction: column;
  text-align: initial;
  border: 1px solid lightgray;
  border-radius: 4px; 
  padding: 0% 5% 0% 5%;
  margin: 5% 10% 5% 10%;
}

.field-container {
  margin: 4% 0 2% 0;
  display: flex;
  flex-direction: column;
}

.field-styled {
  margin: 2% 0 0 0;
  width: 96%;
  padding: 6px 2%;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.btn-container{
  display: flex;
  justify-content: space-evenly;
  margin: 4% 0 4% 0;
}

.btn-Style{
  background-color: black;
  color: white;
  /* font-family: 'Karma', serif; */
  height: 40px;
  border-color: black;
  border-radius: 5px;
  width: 90px;
}